# Flutter/Dart
*.dart_tool/
.packages
build/
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/flutter_assets/
**/ios/Flutter/ephemeral/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*
**/android/key.properties
*.jks

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/

# Web
**/web/favicon.png
**/web/icons/
**/web/manifest.json

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.atom/
.buildlog/

# Test
coverage/

# Environment
.env
.env.*
*.env

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.history
.svn/
migrate_working_dir/
*.lock
pubspec.lock

# Supabase
supabase/.branches
supabase/.temp
